@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Oswald:wght@300..700&display=swa');


:root {

  /* FONT */
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

  --color-text: hsla(193, 69%, 88%, 1);

  --color-bg: hsla(182, 83%, 9%, 1);

  --color-border: hsl(17, 24%, 90%);

  --astro-gradient: linear-gradient(0deg, #d84727ff, #da62c4); //#4f39fa

  --gradient-bg: linear-gradient(180deg,
      #da62c4,
      #ef7b45ff,
      #d84727ff);

}


html:focus-within {
  scroll-behavior: smooth;
}

* {
  font-family: 'Heebo', sans-serif;
  color: var(--color-text);
}

body {
  display: grid;
  place-content: center;
  background-image: var(--gradient-bg);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

h1 {
  font-size: var(--font-size-xl);
  color: var(--color-text);
}

h2 {
  font-size: var(--font-size-lg);
}

article {
  font-family: 'Oswald', sans-serif;
}

.text-gradient {
  font-weight: 900;
  background-image: var(--astro-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 100% 200%;
  background-position-y: 100%;
  border-radius: 0.4rem;
  animation: pulse 4s ease-in-out infinite;
}

@keyframes pulse {

  0%,
  100% {
    background-position-y: 0%;
  }

  50% {
    background-position-y: 80%;
  }
}