/*@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Oswald:wght@300..700&display=swa');*/
/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}
/**/
html:focus-within {
  scroll-behavior: smooth;
}

* {
  font-family: 'Heebo', sans-serif;
  color: var(--color-text);
}

:root {
  --color-text: hsla(193, 69%, 88%, 1);
  --astro-gradient: linear-gradient(0deg, #d84727ff, #da62c4);
}

.text-gradient {
  font-size: var(--font-size-xl);
  color: var(--color-text);
  font-weight: 900;
  background-image: var(--astro-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 100% 200%;
  background-position-y: 100%;
  border-radius: 0.4rem;
  animation: pulse 4s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    background-position-y: 0%;
  }

  50% {
    background-position-y: 80%;
  }
}
