---
import Weather from '@components/Weather.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Stackoverlove.me - About">
	<section style="display:flex;margin: 0 auto;align-items:center;justify-content:center;">
		<h1>No cigars here, yet</h1>
		<div style="display:flex;flex-wrap: wrap; max-width: 16em;">
			<Weather />
		</div>
	</section>
</Layout>
