---
---

<div class="hero">
	<section>
		<h2>Heipä Sinä!</h2>
		<p>
			Tervetuloa sivuilleni. Minä olen Juha Halmu ja toivon että viihdytte. Olen koodari, mutta
			välillä tykkään tehdä jotain visuaalista kuten nämä ja edelliset ja -sivut. Olen Helsingin
			Kalliossa asuva taitojansa ylläpitävä henkilö. Laita ihmeessä postia haluamasi median kautta,
			niin jutellaan lisää.
		</p>
		<p>
			Avainsanoja: javascript, react, svelte, graphql, css, tailwindcss, scss, docker, flask,
			fastapi, nginx, validius, acceseility html, python, php, sql, rauta, front ja back, macos,
			linux, win. Opin mielelläni uusia asioita ja päivitän vanhaa.
		</p>
	</section>
</div>

<style lang="css">
	.hero {
		font-family: 'Oswald', sans-serif;
		display: flex;
		flex-wrap: wrap;
		margin: auto;
		max-width: 75em;
		padding-right: 20em;
	}
	.hero p {
		padding-top: 1ch;
		padding-left: 12ch;
		padding-right: 20ch;
		padding-bottom: 0;
		color: inherit;
	}

	h2 {
		margin-top: 2ch;
		padding-left: 8ch;
	}
</style>
