<div class="hero">
	<section>
		<h2>Hello Heebot!</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis totam eius, in est maxime ea
			deleniti, maiores, saepe esse repudiandae impedit beatae atque! Quae officiis, ducimus sit rem
			minima nisi ipsum! Minima, similique ut ratione tempore quis dolore odit, sapiente cum
			architecto fugit maxime in consectetur expedita. Dicta, ad aspernatur.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis totam eius, in est maxime ea
			deleniti, maiores, saepe esse repudiandae impedit beatae atque! Quae officiis, ducimus sit rem
			minima nisi ipsum! Minima, similique ut ratione tempore quis dolore odit, sapiente cum
			architecto fugit maxime in consectetur expedita. Dicta, ad aspernatur.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis totam eius, in est maxime ea
			deleniti, maiores, saepe esse repudiandae impedit beatae atque! Quae officiis, ducimus sit rem
			minima nisi ipsum! Minima, similique ut ratione tempore quis dolore odit, sapiente cum
			architecto fugit maxime in consectetur expedita. Dicta, ad aspernatur.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis totam eius, in est maxime ea
			deleniti, maiores, saepe esse repudiandae impedit beatae atque! Quae officiis, ducimus sit rem
			minima nisi ipsum! Minima, similique ut ratione tempore quis dolore odit, sapiente cum
			architecto fugit maxime in consectetur expedita. Dicta, ad aspernatur.
		</p>
	</section>
</div>
<style lang="css">
	.hero {
		font-family: 'Oswald', sans-serif;
		display: flex;
		flex-wrap: wrap;

		margin: auto;
		max-width: 60em;
		color: #f4f4f4;
	}
	.hero p {
		padding-top: 1ch;
		padding-left: 12ch;
		padding-right: 12ch;
		padding-bottom: 0;
	}

	h2 {
		margin-top: 2ch;
		padding-left: 8ch;
	}
</style>
