---
import Github from '@components/Github.astro';
import Head from '@components/Head.astro';
import Navbar from '@components/Navbar.astro';
//import Gitx from '@components/Gitx.astro';
import '@styles/styles.css';
---

<!DOCTYPE html>
<html lang="fi">
	<head>
		<meta charset="utf-8" />
		<Head />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<Navbar />

		<main>
			<slot />
		</main>
		<section class="section">
			<div>
				<Github />
			</div>
		</section>
		<style>
			main {
				display: flex;
				clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 88%, 0 100%);
				background-color: yellowgreen;
				min-width: 60em;
				min-height: 40em;
				background-image: url('/Default.png');
				background-size: 60em;
				background-repeat: no-repeat;
				background-position: right;
				opacity: 70%;
			}
			.section {
				display: flex;
				flex-direction: column;
				margin: 2em;
				gap: 2em;
			}
		</style>
	</body>
</html>
